<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Profile</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">CHATROOM</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Hi, {{user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-8">
          <h1>chat area</h1>
          <!-- <input type="text" name="message" placeholder="Type your message here">
          <button class="btn btn-primary" name="send">Send</button> -->
           
          <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
          <input id="chat-message-input" type="text" size="100" placeholder="Type your message here.."/><br/>
          <input class="btn btn-primary" id="chat-message-submit" type="button" value="Send" />
          <input type="text" value="{{ user.username }}" readonly id="user" >
          
          {{ user.username|json_script:"username" }}
          <script>
           
            const chatSocket = new WebSocket(
              "ws://" + window.location.host + "/ws/"
            );

            chatSocket.onmessage = function (e) {
              const data = JSON.parse(e.data);
              
              document.querySelector("#chat-log").value += data.username+":"+ data.message + "\n\n";
            };

            chatSocket.onclose = function (e) {
              console.error("Chat socket closed unexpectedly");
            };
            
            document.querySelector("#chat-message-input").focus();
            document.querySelector("#chat-message-input").onkeyup = function (e) {
              if (e.keyCode === 13) {
                // enter, return
                document.querySelector("#chat-message-submit").click();
              }
            };

            document.querySelector("#chat-message-submit").onclick = function (e) {
              const messageInputDom = document.querySelector(
              "#chat-message-input"
              );
              const message = messageInputDom.value;
              // value of id name
              const username = document.getElementById("user").value;
              chatSocket.send(
                JSON.stringify({
                  username : username,
                  message: message,
                })
              );
              messageInputDom.value = "";
            };
          </script>
        </div>
        <div class="col-4">
          <h1>User Details</h1>
          <h4>Your Username : {{user.username}}</h4>
          <h4>Your email : {{user.email}}</h4>
        </div>
      </div>
    </div>
  </body>
</html>
